---
import type { Post } from '@definitions/post'
import BaseLayout from '@layouts/BaseLayout.astro'
import type { MarkdownLayoutProps } from 'astro'

const posts = Object.values(
  import.meta.glob<MarkdownLayoutProps<Post>>('../posts/*.md', { eager: true })
)
const uniqueTags = [...new Set(posts.flatMap(post => post.frontmatter.tags))]
---

<BaseLayout title='Tags'>
  <h1>thi is a index files for tags</h1>
  <div class='tags'>
    {
      uniqueTags.map(tag => (
        <p class='tag'>
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
