---
interface Props {
  tag: string
}

const { tag } = Astro.props
---

<span
  id='tag'
  class='capitalize rounded-full px-3 py-1 bg-pink-500/10 text-pink-400 text-xs font-medium inline-block'
>
  {tag}
</span>
