---
import Menu from '@icons/Menu.astro'
---

<button
  id='hamburger-button'
  class='size-9 flex items-center justify-center hamburger-button cursor-pointer rounded-full bg-gray-800'
  type='button'
>
  <Menu class='stroke-2' />
</button>

<style>
  .hamburger-button {
    @media (width >= 768px) {
      display: none;
    }
  }
</style>
