---

---

<div id='hamburger-button' class='hamburger-button cursor-pointer'>
  <span class='line rounded-lg'></span>
  <span class='line rounded-lg'></span>
  <span class='line rounded-lg'></span>
</div>

<style>
  .hamburger-button {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 24px;

    @media (width >= 768px) {
      display: none;
    }
  }
  .line {
    height: 4px;
    background-color: #fff;
  }
</style>
