---
import AstroLogo from '@icons/AstroLogo.astro'
import NavLinks from '@components/NavLinks.astro'
---

<nav class='flex items-center justify-between p-3'>
  <a href='/' class='flex items-center gap-2'>
    <AstroLogo class='size-7' />
  </a>
  <NavLinks />
</nav>
