---
import AstroLogo from '@icons/AstroLogo.astro'
import NavLinks from '@components/NavLinks.astro'
---

<nav class='flex items-center justify-between p-3'>
  <a href='/' class='flex items-center gap-2'>
    <AstroLogo class='size-7' />
  </a>
  <NavLinks />
  <div id='burger-btn' class='flex flex-col gap-1 md:hidden'>
    <div class='w-5 h-[2px] bg-white'></div>
    <div class='w-5 h-[2px] bg-white'></div>
    <div class='w-5 h-[2px] bg-white'></div>
  </div>
</nav>

<script>
  const navBar = document.querySelector('#nav-bar')
  const burgerButton = document.querySelector('#burger-btn')

  burgerButton?.addEventListener('click', () => {
    navBar?.classList.toggle('expand')
  })
</script>
<style is:global>
  .expand {
    display: flex;
    flex-direction: column;
  }
</style>
