---
const LINKS = [
  { href: '/', name: 'Home' },
  { href: '/about', name: 'About' },
  { href: '/blog', name: 'Blog' },
]

const { pathname } = Astro.url
---

<ul
  id='nav-bar'
  class='md:gap-1 w-full md:w-fit hidden md:flex flex-col md:flex-row p-4 md:p-0 border-b-2 border-slate-500/30 md:border-b-0'
>
  {
    LINKS.map(link => {
      return (
        <li class=' rounded-sm inline-flex items-center md:justify-center hover:bg-slate-500/30 cursor-pointer transition-colors duration-200'>
          <a
            data-link={link.href}
            href={link.href}
            class:list={[
              {
                'text-blue-500': pathname === link.href,
              },
              'w-full px-2 py-1',
            ]}
          >
            <span>{link.name}</span>
          </a>
        </li>
      )
    })
  }
</ul>

<script type='module'>
  document.addEventListener('astro:page-load', () => {
    const links = document.querySelectorAll('a[data-link]')

    links.forEach(link => {
      link.addEventListener('click', event => {
        const href = link.dataset.link

        if (href === globalThis.location.pathname) {
          event.preventDefault()
        }
      })
    })
  })
</script>

<style>
  .expanded-navbar {
    display: flex;
  }
</style>
