---
interface Props {
  platform: string
  username: string
}

const { platform, username } = Astro.props
---

<a
  href={`https://www.${platform}.com/${username}`}
  class='opacity-70 hover:opacity-100'
  target='_blank'
  aria-label={`Follow me on ${platform}`}
>
  <slot />
</a>
