---
import type { MarkdownLayoutProps } from 'astro'

interface Props extends MarkdownLayoutProps {
  title: string
  author: string
}

const { frontmatter } = Astro.props
---

<h1>{frontmatter.title}</h1>
<p>by {frontmatter.author}</p>
<slot />
